{% extends 'base.html' %}
{% load disqus_tags markitup_tags %}

{% block title %}
    {{ post }}
{% endblock %}
{% block content %}
    <div class="row">
	<div class="span12">
        <h1>{{ post }}</h1>
	<a href="https://plus.google.com/100558610079557530850/posts?rel=author">Por Andrés Reyes</a>
</div>
    </div>
    <div class="row">
        <div class="span2">
            <span class="date"><i class="icon-calendar"></i> {{ post.date_published.date }}</span> <br>
            {% if post.tags %}
                <span class="tags">

                <i class="icon-tag"></i>
                {% for tag in post.tags %}
                <a href="{% url blog_post_list_by_tag tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span> <br>
            {% endif %}
            <span class="comments"><i class="icon-comment"></i>
                <a href="{{ post.get_absolute_url}}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comentarios</a>
                {% disqus_num_replies %}
            </span> <br>

        </div>
        <div class="span10">{{ post.text|render_markup }}</div>
    </div>
    <div class="row">

        <div class="span12">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dc31c6c74e4e2e8"></script>
        <!-- AddThis Button END -->
            {% set_disqus_url post.get_absolute_url %}
            {% set_disqus_title post.name %}
            {% set_disqus_identifier post.id %}
            {% disqus_show_comments %}
        </div>
    </div>
{% endblock %}
