@import "bootstrap/bootstrap.less";

html, body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    position:relative;
}
#main{
    padding-bottom: 140px;
}
.post{
    border-bottom: 1px solid #DDD;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 120px;
}
footer .container{
    padding-top: 10px;
    border-top: 1px solid #DDD;

}