{% extends 'base.html' %}
{% load disqus_tags markitup_tags %}
{% block content %}
    {% for post in post_list %}
        <div class="row">
            <div class="span2">
                <span class="date"><i class="icon-calendar"></i> {{ post.date_published.date }}</span> <br>
                {% if post.tags %}
                <span class="tags">
                    <i class="icon-tag"></i>
                    {% for tag in post.tags %}
                        <a href="{% url blog_post_list_by_tag tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span> <br>
                {% endif %}
                <span class="comments"><i class="icon-comment"></i>
                    <a href="{{ post.get_absolute_url}}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comentarios</a>
                    {% disqus_num_replies %}
                </span> <br>

            </div>
            <div class="span10">
                <h1><a href="{{ post.get_absolute_url }}">{{ post }}</a></h1>

                <div>{{ post.text|render_markup }}</div>

            </div>
        </div>
    {% endfor %}
{% endblock %}