{% load compress %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}El Blog de armonge{% endblock %}</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/google-code-prettify/prettify.css">

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.less" type="text/less">
    {% endcompress %}
    <link rel="alternate" type="application/rss+xml"  href="/blog/rss/" title="RSS 2.0" />


    <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
    <!-- Piwik --> 
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.armonge.info/" : "http://analytics.armonge.info/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://analytics.armonge.info/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->

</head>
<body onload="prettyPrint()">
<div class="wrapper">

    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header class="container">
        {% block header %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">
                            El Blog de armonge
                        </a>
                        <ul class="nav">
                            <li><a href="/">Blog</a></li>
                            <li><a href="{% url blog_post_list %}">Archivo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
    </header>
    <div role="main" id="main" class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container">
            {% block footer %}
                <div class="row">
                    <div class="span2">
                        <img src="{{ STATIC_URL }}img/cara.png" alt="armonge">
                    </div>
                    <div class="span2">
                        &copy; {% now "Y" %} armonge.info
                    </div>
                </div>
            {% endblock %}
        </div>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    <script src="{{ STATIC_URL }}js/plugins.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/google-code-prettify/prettify.js"></script>


</div>
</body>
</html>
